* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(42, 42, 42);
  font-family: 'Lato';
}

.app-manual {
  position: absolute;
  margin: 20px;
  width: 30vw;
  max-width: 360px;
  background-color: rgb(123, 91, 255);
  overflow-wrap: break-word;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.496);
  animation: shakeInfoBoard .8s infinite;
}

p {
  font-family: monospace;
  padding: 10px;
  color: white;
}

.header-description h2 {
  color: white;
  padding-top: 1rem;
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

input,
input:active {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background-color: rgb(42, 42, 42);
  border: 1px rgb(123, 91, 255) solid;
  box-shadow: inset 5px 5px 2px rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 36px;
  outline: none;
  color: white;
  font-size: 16px;
  padding-left: 12px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* input:focus {
  border: 2px rgb(123, 91, 255) solid;
} */

button {
  position: absolute;
  transition: 0.15s;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -250%);
  background-color: rgb(42, 42, 42);
  border: 1px rgb(123, 91, 255) solid;
  color: rgb(123, 91, 255);
  padding: 10px;
  width: 200px;
  height: 36px;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px, rgba(0, 0, 0, .5) 3px 0px 6px;
}

button:active {
  background-color: rgb(123, 91, 255);
  color: white;
  transform: translate(calc(-50%+3px), calc(-250%+3px));
}

.invisible {
  display: none;
}

@keyframes shakeInfoBoard {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.01);
  }

  100% {
    transform: scale(1);
  }
}

@media (orientation: portrait) {
  .app-manual {
    position: absolute;
    width: calc(100vw - 40px);
    overflow-wrap: break-word;
  }
}